body {
  font-family: "Lato", sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url(../assets/planner-plan-planning-to-do-to-do-list-august.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

*::first-letter {
  text-transform: capitalize;
}

.list {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 150px;
  margin: 45px auto;
  background-color: rgb(15, 58, 55);
}

main {
  position: relative;
}

.roundBorder {
  border-radius: 5px;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.date_Left {
  display: flex;
  align-items: center;
  color: black;
}
.date_Left #dateNumber {
  font-size: 3em;
  margin-left: 10px;
}
.date_Left #dateMonth, .date_Left #dateYear {
  margin-left: 5px;
}
.date #dateText {
  margin-right: 8px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.date #dateMonth, .date #dateNumber, .date #dateYear, .date #dateText {
  font-weight: bold;
  color: black;
}

form {
  margin: 0 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 35px auto;
  grid-column-gap: 15px;
}
form input {
  border: none;
  padding-left: 10px;
  background-color: #146d4a;
  height: 35px;
  color: rgb(0, 0, 0);
}
form input:focus {
  outline: none;
}
form input::placeholder {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: start;
}
form .addTaskButton, form .orderButton {
  cursor: pointer;
  border: none;
  font-weight: 700;
  background-color: #146d4a;
}
form .addTaskButton {
  border-radius: 50%;
  height: 35px;
}
form .orderButton {
  background-color: rgb(18, 174, 166);
}

.task {
  background-color: rgb(67, 165, 144);
  padding: 15px;
  margin: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  background-color: rgba(38, 141, 118, 0.31);
}

header {
  background-color: rgba(42, 80, 73, 0.832);
  height: 110px;
  width: 100vw;
}
header h1, header h2 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5px;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 250px;
  padding-bottom: 20px;
}
footer .divRedes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9019607843);
  border-radius: 10px;
}
footer .divRedes a {
  font-size: 25px;
  color: white;
}

@media only screen and (min-width: 767px) {
  footer .divRedes {
    width: 70%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  header {
    height: 80px;
  }
  header h1 {
    font-size: 24px;
  }
  header h2 {
    font-size: 22px;
  }
  footer .divRedes {
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  header {
    width: 100vw;
    height: 50px;
  }
  header h1 {
    font-size: 12px;
    font-weight: bold;
  }
  header h2 {
    font-size: 10px;
    font-weight: bold;
  }
  main {
    width: 90vw;
    margin: auto;
  }
  main .list {
    width: 100%;
    margin-top: 45px;
  }
  main form input {
    width: 100%;
  }
  main form input::placeholder {
    font-size: smaller;
  }
  main form .orderButton {
    font-size: smaller;
  }
  footer .divRedes {
    width: 60%;
    height: 35px;
  }
  footer .divRedes a {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
